.MainPanel {
    display: flex;
    height: 100vh;
}

.LeftPanel {
    overflow: auto;
    border-right: 2px solid orange;
    width: 20%;
    min-width: fit-content;
    padding: 1rem;
}

.WorkPanel {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 1rem;
    overflow: auto;
}