.OutputTableDiv {
    display: flex;
    max-height: 50vh;
    height: fit-content;
    justify-content: center;
}

.OutputTable {
    border-collapse: collapse;
}

.OutputTable td, .OutputTable th {
    border: 1px solid black;
    min-height: fit-content;
    padding: 5px;
}