.Sheet {
    display: flex;
    flex-direction: column;
}

.TextInput {
    height: 30vh;
    resize: vertical;
    border: 1px solid black;
    border-radius: 3px;
}

.ExecButton {
    align-self: flex-end;
    width: 10%;
    min-width: fit-content;
    cursor: pointer;
}