.Sheet {
    display: flex;
    flex-direction: column;
}

.TextInput {
    height: 30vh;
    resize: vertical;
    border: 1px solid black;
    border-radius: 3px;
    tab-size: 4;
}

.SaveButton {
    float: right;
    width: 10%;
    min-width: fit-content;
    cursor: pointer;
}

.ExecButton {
    float: right;
    width: 10%;
    min-width: fit-content;
    cursor: pointer;
}