.ConnectionItem {
    border: 2px solid orange;
    border-radius: 5px;
    min-width: fit-content;
    cursor: pointer;
    display: flex;
}

.ConnectionItemName {
    width: 70%;
    min-width: fit-content;
    margin-right: 3px;
}

.ConnectionItemEdit {
    width: 30%;
    display: flex;
    justify-content: right;
    border-collapse: collapse;
}

.EditButton, .DelButton {
    min-width: fit-content;
    border: none;
    border-left: 1px solid orange;
    color: orange;
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}