.ConnectionsDiv {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.AddConnButton {
    color: orange;
    background-color: rgb(30, 30, 30);
    border: 2px solid orange;
    border-radius: 5px;
    margin-top: 2px;
    padding: 0.5rem;
    cursor: pointer;
}